.contacts {
  position: relative;
}

.contacts-wrapper {
  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.contacts-wrapper-bg {
  background-color: #f2f2f2;
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #111111;
  text-transform: uppercase;
}

.contacts_address {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  margin: 0 auto;
  padding: 28px 20px 25px;

  @media (min-width: 768px) {
    padding: 63px 41px 59px;
  }
}

.contacts_address__title {
  width: 155px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: $main-text;
  margin: 0;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: 768px) {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts_address__address {
  width: 155px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: 768px) {
    font-size: 16px;
    width: 170px;
    text-align: right;
  }
}

.contacts_address__address span {
  @media (min-width: 768px) {
    margin-top: 19px;
    display: block;
  }
}

.contacts__map {
  height: 360px;
  width: 100%;

  @media (min-width: 768px) {
    height: 396px;
  }
}

.contacts__map-image {
  object-fit: cover;
  width: 100%;
}
